:root {
    /** parkoba base **/
    --parkoba-shadow: 2px 4px 10px 0px var(--parkoba-shadow-color);
    --parkoba-shadow-color: #66666656;
    --parkoba-base-color: #0F3877;
    --parkoba-base-color-light: #436eaf;
    --parkoba-text-color: #000000;
    --parkoba-background-color: #FEFDFD;
    --parkoba-ripple-color: #c2bfbff3;
}

@media (prefers-color-scheme: dark) {
    /*
     * Dark Colors
     * -------------------------------------------
     */

    body {
        --parkoba-shadow: 2px 4px 10px 0px var(--parkoba-shadow-color);
        --parkoba-shadow-color: #66666656;
        --parkoba-text-color: #ffffff;
        --parkoba-base-color: #0F3877;
        --parkoba-ripple-color: #0F3877;
        --parkoba-background-color: #000000;
    }
}