@font-face {
    font-family: 'DM Sans';
    src: url('~/fonts/DMSans-Bold.woff2') format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'DM Sans';
    src: url('~/fonts/DMSans-Medium.woff2') format('woff2');
    font-weight: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans' !important;
}

.pi{
    font-family: 'primeicons' !important;
}
.p-toast-message{
    border-radius: 10px;
}
.p-toast{
    min-width: 300px;
    max-width: 90%;
}
.p-toast-message-content{
    gap: 20px;
    padding: 15px;
    margin-bottom: 10px;
}
.p-toast-message-content > :last-child {
    margin-left: auto;
}
.p-toast-message-content i, .p-toast-message-content svg, .p-toast-message-content .p-icon, .p-toast-message-content > :last-child svg{
    width: 18px;
    height: 18px;
}
.p-toast-message-content svg{
    margin-top: 5px;
}
.p-tooltip-text{
    padding: 3px 10px;
    margin-bottom: 3px;
}
/* .p-toast-message-text{
    max-width: 275px;
} */
/* .p-menuitem-link{background-color: transparent;}
.p-steps-current .p-steps-number{background: var(--parkoba-base-color);} */
#shadow {
    fill: #f7f1f1;
}

.intro-button-enter-active, .intro-button-leave-active {
    transition: 0.3s ease-in-out;
}
.intro-button-enter-from, .intro-button-leave-to {
    transform: translateY(20px);
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: 0.2s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

@media (prefers-color-scheme: dark) {
    path#shadow {
        fill: #2c2929;
    }
}